{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet"  href="{% static 'style copy.css' %}">

<link rel="stylesheet"  href="{% static 'css/lightbox.min.css' %}">
<script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
<title>Acceuil</title>
</head>
<style>
    .bg-light {
        background-color: #202224!important;
    }
    
</style>
<body>
    {% load static %}
   
    <div class="container">
        <!--coté droite-->
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="left-column">
                    <div class="card card-left1 mb-4" >
                        <img src="{% static 'img/photo-1455448972184-de647495d428.jpg'%}" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                            <img src="{% static 'img/anime.jfif'%}" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
                            <h5 class="card-title">kalonga</h5>
                            <p class="card-text text-justify mb-2">Bienvenue à tous, je suis heureux de vous présenter aujourd'hui Kalonga, une jeune femme brillante et ambitieuse dans le domaine de l'énergie solaire.

                                Kalonga est une entrepreneure passionnée qui a fondé son entreprise en 2015 avec pour objectif de fournir des solutions d'énergie solaire durables et abordables à travers l'Afrique. Elle a une vision claire de l'importance de l'énergie renouvelable pour l'avenir de la planète et pour améliorer la qualité de vie des communautés rurales qui ont un accès limité à l'électricité.
                                
                                Avec Kalonga, elle offre une gamme de produits de qualité supérieure, allant des lampes solaires portables aux systèmes solaires domestiques complets, en passant par les pompes à eau solaires. Ses produits sont conçus pour répondre aux besoins spécifiques des communautés rurales, en utilisant des technologies avancées pour offrir des performances optimales.
                                
                                Mais ce qui distingue vraiment Kalonga, c'est son approche communautaire. Elle travaille en étroite collaboration avec les communautés locales pour comprendre leurs besoins et s'assurer que ses produits sont adaptés à leurs besoins. Elle travaille également avec des partenaires locaux pour fournir une formation et un soutien technique, afin de garantir que les communautés sont en mesure de tirer le meilleur parti de ses produits.
                                
                                En tant que jeune femme entrepreneur, Kalonga est un exemple inspirant pour tous ceux qui cherchent à faire une différence dans le monde. Elle est passionnée, engagée et déterminée à créer un avenir plus durable pour tous.</p>
                            <ul class="list-unstyled nav justify-content-center">
                               <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Friends <br> <strong>12M</strong></li></a>
                              <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Enimes <br> <strong>1</strong></li></a> 
                            </ul>
                        </div>
                    </div>
                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                                <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                                <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                                <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                                <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                                <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                                <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>
                    </div>
                    </div>
                    <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>

                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="{% static 'img/left1.jpg'%}" data-lightbox="id" ><img src="{% static 'img/left1.jpg'%}" alt="img" class="img-fluid my-2"></a>  
                                    <a href="{% static 'img/left2.jpg'%}"data-lightbox="id"><img src="{% static 'img/left2.jpg'%}" alt="img" class="img-fluid my-2"></a>
                                    <a href="{% static 'img/left3.jpg'%}"data-lightbox="id"><img src="{% static 'img/left3.jpg'%}" alt="img" class="img-fluid my-2"></a>

                                </div>
                                <div class="col-6 p-1">
                                        <a href="{% static 'img/left4.jpg'%}"data-lightbox="id"><img src="{% static 'img/left4.jpg'%}" alt="img" class="img-fluid my-2"></a>
                                        <a href="{% static 'img/left5.jpg'%}"data-lightbox="id"><img src="{% static 'img/left5.jpg'%}" alt="img" class="img-fluid my-2"></a>
                                        <a href="{% static 'img/left6.jpg'%}"data-lightbox="id"><img src="{% static 'img/left6.jpg'%}" alt="img" class="img-fluid my-2"></a>
    
                                    </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-12 col-lg-6" >
                <div class="middle-column">
                    <div class="card" >
                        <div class="card-header bg-transparent">
                            <form class="form-inline">
                                <div class="input-group w-100">
                                 <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">
                                 <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>
                                 </div>
                                </div>
                            </form>
                        </div>                 
   <div class="card-body">



    <div class="media">
        <img src="{% static 'img/anime.jfif'%}" alt="img" width="55px" height="55px" class="rounded-circle mr-3">

        <div class="media-body">
            <h5>Kalonga</h5>
            <p class="card-text text-justify">L'image illustre un voyage sportif, avec une personne en train de pratiquer une activité physique en plein air dans un environnement naturel. La scène invite à l'aventure et à la découverte de nouveaux horizons, tout en soulignant l'importance de rester en forme et de profiter des bienfaits de l'activité physique. Les couleurs vives et la composition dynamique de l'image renforcent cette idée de mouvement et de vitalité, tandis que le paysage saisissant rappelle les merveilles de la nature et l'importance de la protéger.</p>
   <div class="row no-gutters mb-3">
                <div class="col-6 p-1 text-center">
                        <img src="{% static 'img/adventure-alps-clouds-2259810.jpg'%}" alt="" class="img-fluid mb-2">
                        <img src="{% static 'img/aerial-view-architectural-design-buildings-2228123.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="col-6 p-1 text-center">
                        <img src="{% static 'img/celebration-colored-smoke-dark-2297472.jpg'%}" alt="" class="img-fluid mb-2">
                        <img src="{% static 'img/bodybuilding-exercise-fitness-2294361.jpg'%}" alt=""class="img-fluid">
                </div>
            </div>
            <div class="media mb-3">
                    <img src="{% static 'img/anime.jfif'%}" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                    <div class="media-body">
                            <p class="card-text text-justify">kalonga: L'image de voyage sportif illustre parfaitement l'importance de maintenir un mode de vie actif et de se connecter à la nature. Elle transmet un sentiment d'aventure et d'exploration, invitant le spectateur à sortir de sa zone de confort et à explorer de nouveaux horizons.</p>
                    </div>
            </div>
            <div class="media">
                    <img src="{% static 'img/avatar-mdo.png'%}" alt="img" width="45px" height="45px" class="rounded-circle mr-2">
                    <div class="media-body">
                            <p class="card-text text-justify">Mark Otto: La composition de l'image est très réussie, avec une utilisation intelligente des couleurs et de la lumière pour créer une scène dynamique et attrayante. La personne en train de pratiquer une activité physique est mise en valeur au centre de l'image, avec le paysage naturel qui l'entoure qui ajoute de la profondeur et de la dimension à la scène.</p>

                    </div>
            </div>
        </div>
        <small>5min</small>
    </div>
   </div>                    
 <hr>
 </div>
 </div>
  </div>
  <br> <br> <br><br> <br> <br>

<div class="col-12 col-lg-3">
    <div class="right-column">
        <div class="card shadow-sm mb-4" >
            <div class="card-body">
                <h6 class="card-title">Sponsored</h6>
                <img src="{% static 'img/right1.jpg'%}" alt="card-img" class="card-img mb-3">
                <p class="card-text text-justify"> <span class="h6">It might be time to visit Iceland.</span> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice.  What are you waiting for?</p>
                <a href="#" class="btn btn-outline-info card-link btn-sm">Buy a ticket</a>
            </div>
        </div>
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                    <h6 class="card-title ">Likes <a href="#" class="ml-1"><small>.View All</small> </a> </h6>
                    <div class="row no-gutters d-none d-lg-flex">
                        <div class="col-6 p-1">
                                <img src="{% static 'img/avatar-dhg.png'%}" alt="img" width="80px" height="80px" class="rounded-circle mb-4">
                                <img src="{% static 'img/avatar-fat.jpg'%}" alt="img" width="80px" height="80px" class="rounded-circle">
                        </div>
                        <div class="col-6 p-1 text-left">
                            <h6>Jacob Thornton @fat</h6>
                            <a href="#" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-user-friends"></i>Follow </a>

                            <h6>Mark otto</h6>
                            <a href="#" class="btn btn-outline-info  btn-sm"><i class="fas fa-user-friends"></i>Follow </a>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <p>&copy; 2013 by Micka social media
                        <a href="#">About</a>
                        <a href="#">Help</a>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                        <a href="#">Cookies</a>
                        <a href="#">Ads </a>
                        <a href="#">Info</a>
                        <a href="#">Brand</a>
                        <a href="#">Blog</a>
                        <a href="#">Status</a>
                        <a href="#">Apps</a>
                        <a href="#">Jobs</a>
                        <a href="#">Advertise</a>
                    </p>
            </div>
        </div>
    </div>
            </div>
</div>
<script>
        lightbox.option({
          
        })
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>